@model Mvc_5TicariOtamasyon.Models.sınıflar.KargoDetay

@{
    ViewBag.Title = "KargoEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<br />
<form method="post" class="form-group" id="kargoForm">
    @Html.LabelFor(x => x.TakipKod)
    <input type="text" name="TakipKod"  class="form-control" value="@ViewBag.takipkodu" readonly/>
    <br />
    @Html.LabelFor(x => x.personel)
    @Html.TextBoxFor(x => x.personel, new { @class = "form-control" })
    <br />
    
    @Html.LabelFor(x => x.alici)
    @Html.TextBoxFor(x => x.alici, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.tarih)
    <input type="date" name="tarih" class="form-control" />
    <br />
    @Html.LabelFor(x => x.aciklama)
    @Html.TextAreaFor(x => x.aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-default text-white" style="background-color:darkslateblue" id="btn1">Ekle</button>

    <script>
        $('#btn1').click(function (e) {
            e.preventDefault();

            swal({
                title: "Good Job!",
                text: "İşlem Başarılı!",
                icon: "success",
                buttons: {
                    confirm: {
                        text: "Tamam",
                        value: true,
                        visible: true,
                        closeModal: true // Bildirimi otomatik kapatma
                    }
                }
            }).then((value) => {
                if (value) {
                    // Ekleme işlemini AJAX ile gerçekleştir
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("KargoEkle", "Kargo")', // ControllerName ve action adını uygun şekilde değiştirin
                        data: $('#kargoForm').serialize(), // Form verilerini al
                        success: function (data) {
                            // İşlem başarılı olduğunda bu bölüm çalışır
                            // Burada gerekli yönlendirme veya diğer işlemleri yapabilirsiniz
                             window.location.href = '@Url.Action("Index", "Kargo")'; // Yönlendirme için uygun URL'yi belirtin
                        }
                    });
                }
            });
        });
    </script>

</form>

