@model Mvc_5TicariOtamasyon.Models.sınıflar.satis_hareketi
@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SatisGetir</h2>
@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
<div class="form-group">

    @Html.LabelFor(x => x.urun)
    @Html.DropDownListFor(x => x.urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.cari)
    @Html.DropDownListFor(x => x.cariid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.personel)
    @Html.DropDownListFor(x => x.personelid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.adet)
    @Html.TextBoxFor(x => x.adet, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.fiyat)
    @Html.TextBoxFor(x => x.fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.toplamtutar)
    @Html.TextBoxFor(x => x.toplamtutar, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x=>x.satisID)
    <button class="btn btn-primary mt-3">Kaydet</button>
</div>
}
